html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
}

#vanta-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: aqua;
}

.title-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 40px;
}

.description-grid {
    display: grid;
    justify-content: start;
    margin-left: 40px;
}

p {
    text-align: start; 
    max-width: 700px;
}



#fx {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.intro {
  inset: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  z-index: 10;
  margin-top: 100px;

}

.btn {
  padding: 12px 22px;
  background: transparent;
  border: 1px solid #0ff;
  color: #0ff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  border-radius: 20px;
}

.btn:hover {
  box-shadow: 0 0 15px #0ff;
  transform: scale(1.05);
}


@media (max-width: 700px) {
    .description-grid {
        margin-top: 420px;
        margin-left: 20px;
    }

    .title-flex {
        margin-left: 20px;
    }


    .intro {
        margin-top: 20px;
        margin-right: 15px;
    }
}
